'.source.ts':
  'Comment':
    'prefix': 'comm',
    'body': """
    /* ${1:Comment} */
    $2
    """
  'Comment - Block Style Comment':
    'prefix': 'comm-block'
    'body': """
    /**
     *
     * ${1:Block Comment}
     *
     */
    """
  'Comment - Section':
    'prefix': 'comm-section'
    'body': """
    /*=============================================>>>>>
    = ${1:Section comment block} =
    ===============================================>>>>>*/

    $2

    /*= End of ${1:Section comment block} =*/
    /*=============================================<<<<<*/
    """
  'Comment - Section Header':
    'prefix': 'comm-header',
    'body': """
    /*=============================================>>>>>
    = ${1:Section comment block} =
    ===============================================>>>>>*/
    $2
    """
  'Comment - Section Footer':
    'prefix': 'comm-footer',
    'body': """
    /*= End of ${1:Section comment block} =*/
    /*=============================================<<<<<*/
    $2
    """
  'Comment - Subsection':
    'prefix': 'comm-subsection',
    'body': """
    /*----------- ${1:Subsection comment block} -----------*/
    $2
    """
